.recover-password-container {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  padding: 4% 5%;
  align-items: center;
  border-radius: 8px;
  margin-top: 10%;

  p {
    color: #4c4c4c;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 20%;
    color: #4c4c4c;
    font-weight: bold;
    padding: 4% 0;

    label{
      display: flex;
      flex-direction: column;
    }

    input {
      width: 200px;
      height: 30px;
      font-family: Helvetica, sans-serif;
      margin: 2% 0 7% 0;
      padding: 0 3%;
      box-sizing: border-box;
      border: 0;

      &[type=submit]{
        height: 40px;
        background-color: #4f2d7f;
        color: white;
        font-weight: bold;
        font-size: large;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }

  a {
    color: #7b3dbb;
    font-weight: bold;
    text-decoration: none;
    align-self: start;
    margin-bottom: 10%;
  }
}